.backdrop{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 999;
}

.main-content{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-color: var(--cardboard);
}