<main>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="img-cont">
            <img src="assets/img/Logo-NoBg.png" alt="Logo">
        </div>
        <h1 class="inter-bold">{{flow === 'set' ? 'Establecer contraseña' : 'Reestablecer contraseña'}}</h1>
        <p class="inter-semibold">{{flow === 'set' ? 'Establezca su contraseña para activar su cuenta y empezar a navegar por el catálogo.' : 'Reestablezca su contraseña y comience a navegar nuevamente'}}</p>

        <fieldset>
            <legend>Datos de creación de contraseña</legend>
            <div class="input-group">
                <input id="password" [class.invalid]="password.invalid && (password.touched || submitting)" formControlName="password" name="password" type="password" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="password-tooltip" required>
                <span *ngIf="getPasswordErrors().length > 0" id="password-tooltip" [class.error]="password.invalid && (password.touched || submitting)" class="inter-semibold tooltip">
                    <ng-container *ngFor="let msg of getPasswordErrors(); let i = index">
                        {{ msg }}<br *ngIf="i < getPasswordErrors().length - 1">
                    </ng-container>
                </span>
            </div>
            <div class="input-group">
                <input id="repeat-password" [class.invalid]="repeat_password.invalid && (repeat_password.touched || submitting)" formControlName="repeat_password" name="repeat_password" type="password" placeholder="Repetir contraseña" aria-label="Repetir Contraseña" aria-describedby="repeat-password-tooltip" required>
                <span *ngIf="getRepeatPasswordErrors().length > 0" id="repeat-password-tooltip" [class.error]="repeat_password.invalid && (repeat_password.touched || submitting)" class="inter-semibold tooltip">
                    <ng-container *ngFor="let msg of getRepeatPasswordErrors(); let i = index">
                        {{ msg }}<br *ngIf="i < getRepeatPasswordErrors().length - 1">
                    </ng-container>
                </span>
            </div>
        </fieldset>
        
        <button type="submit" class="inter-semibold" [disabled]="submitting">{{flow === 'set' ? 'Establecer' : 'Reestablecer'}}</button>
    </form>
</main>

