.settings-btn-cont{
    display: flex;
    justify-content: flex-end;
    background-color: var(--cardboard);
    padding: 12px;
}

.settings-btn{
    cursor: pointer;
    transition: all 0.3s ease;
}

.settings-btn:hover{
    color: var(--purple);
}