<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blxsh - Home</title>
</head>
<body>
    <header>
        <nav>
            <img src="assets/img/Logo-NoBg.png" class="logo" alt="Logo">
            <button class="register-btn inter-semibold">Registrarse</button>
        </nav>
    </header>
    <main>
        <section class="title-cont">
            <h1 class="inter-semibold">Blxsh Evo Collection</h1>
            <div class="alter-text-cont">
                <p class="inter-semibold">Inicie sesión o registrese como usuario en el nuevo catálogo</p>
                <img class="row" src="assets/img/row.png" alt="Row">
            </div>
        </section>
    </main>
</body>
</html>
