/** Background del Land Page */
:host {
    display: block; /*? Convierte <app-home> en un bloque reconocible */
    height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/img/landing-page-bg.jpg'); /*? Cortina de opacidad para background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*? Elementos con transición */
.register-btn{
    transition: all 0.3s ease-in-out;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
}

.logo{
    width: 140px;
    height: 45px;
    margin: 20px;
}

.register-btn{
    padding: .8em 3em;
    margin: 1em;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;

    color: var(--purple);
    background-color: rgba(0, 0, 0, 0.45);
}

.register-btn:hover{
    color: white;
    background-color: var(--purple);
}

.title-cont{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    height: 80vh;
    width: 40%;
}

h1{
    font-size: 5rem;
    color: #FFFFFF;
}

.alter-text-cont{
    padding: 15px;
    border-radius: 12px;

    background-color: rgba(0, 0, 0, 0.35);
}

p{
    color: white;
}

.row{
    width: 110px;
    height: 60px;
}