<header>
    <nav>
        <img src="assets/img/Logo-NoBg.png" class="logo" alt="Logo">
        <button class="register-btn inter-semibold" [routerLink]="['/users/register']">Registrarse</button>
    </nav>
</header>
<main>
    <section class="title-cont">
        <h1 class="inter-semibold">Blxsh Evo Collection</h1>
        <div class="alter-text-cont">
            <p class="inter-semibold">Inicie sesión o registrese como usuario en el nuevo catálogo</p>
            <img class="row" src="assets/img/row.png" alt="Row">
        </div>
    </section>
    <section class="form-cont">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2 class="inter-bold">Inicie Sesión</h2>
            <p class="inter-medium">Ingrese sus credenciales, en caso de no recordar su contraseña puede recuperarla en cualquier momento.</p>
            <fieldset>
                <legend>Credenciales para inicio de sesión</legend>
                <div class="form-group">
                    <input [class.invalid]="email.invalid && (email.touched || submitting)" id="email" formControlName="email" name="email" type="email" placeholder="Correo Electrónico" aria-label="Correo Electrónico" aria-describedby="email-tooltip" required>
                    <span *ngIf="getEmailErrors().length > 0" id="email-tooltip" [class.error]="email.invalid && (email.touched || submitting)" class="inter-semibold tooltip">
                        <ng-container *ngFor="let msg of getEmailErrors(); let i = index">
                            {{ msg }}<br *ngIf="i < getEmailErrors().length - 1">
                        </ng-container>
                    </span>
                </div>
                <div class="form-group">
                    <input [class.invalid]="password.invalid && (password.touched || submitting)" id="password" formControlName="password" name="password" type="password" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="password-tooltip" required>
                    <span id="password-tooltip" [class.error]="password.invalid && (password.touched || submitting)" class="inter-semibold tooltip">Contraseña obligatoria</span>
                </div>
                <a href="">Recuperar contraseña</a>
            </fieldset>
            <button type="submit" class="login-btn inter-bold" [disabled]="submitting">Iniciar sesión</button>
        </form>
    </section>
</main>
