<footer>
    <div class="left-part">
        <p class="inter-medium"><span class="inter-bold">Desarrollador:</span> Héctor Jesús Huerta Escoto</p>
        <p class="inter-medium"><span class="inter-bold">Supervisor:</span> Yair Osvaldo Cosio Escoto</p>
        <h3 class="inter-bold">Correo Electrónico</h3>
        <p class="inter-medium">hectorjesus029gmail.com</p>
        <p class="inter-medium">ycosio1310gmail.com</p>
        <h3 class="inter-bold">Teléfono</h3>
        <p class="inter-medium">3141212559</p>
        <p class="inter-medium">3121378318</p>
    </div>
    <div class="right-part">
        <img src="assets/img/Logo-NoBg.png" alt="Logo">
    </div>
</footer>