.cards-cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 10px;
    padding: 12px;
    box-sizing: border-box;
}

@media (max-width: 431px) and (max-height: 933px){
    .cards-cont{
        grid-template-columns: 1fr;
    }
}