
<app-search-bar></app-search-bar>
<ng-container *ngIf="state$ | async as DashboardProps" class="products-cont">
    <!--~ Aparece solo si loading es true ~-->
    <div *ngIf="DashboardProps.loading" class="inter-semibold loading">Cargando...</div>
    <!--~ Aparece solo si error es true ~-->
    <div *ngIf="DashboardProps.error" class="inter-semibold error">{{ DashboardProps.error }}</div>
    <!--~ Aparece solo si loading es false y hay elementos en data ~-->
    <div *ngIf="!DashboardProps.loading && DashboardProps.data?.length" class="cards-cont">
        <app-product-card *ngFor="let p of DashboardProps.data" [product]="p"></app-product-card>
    </div>
    <!--~ Aparece solo si loading es false y data está vacío o es null (No existen productos) ~-->
    <div *ngIf="!DashboardProps.loading && !DashboardProps.data" class="inter-semibold">
        No hay productos disponibles.
    </div>
</ng-container>