<main>
    <form>
        <div class="img-cont">
            <img src="assets/img/Logo-NoBg.png" alt="Logo">
        </div>
        <h1 class="inter-bold">REGISTRO</h1>
        <p class="inter-semibold">Asegurese de agregar sus datos veridicos y actuales, esta información podra ser cambiada más adelante.</p>

        <fieldset>
            <legend>Datos de registro de usuario</legend>
            <div class="form-group">
                <input id="name" name="name" type="text" placeholder="Nombre completo" aria-label="Nombre completo" required>
            </div>
            <div class="form-group">
                <input id="username" name="username" type="text" placeholder="Nombre de usuario" aria-label="Nombre de usuario" required>
            </div>
            <div class="form-group">
                <input id="email" name="email" type="email" placeholder="Correo Electrónico" aria-label="Correo electrónico" required>
            </div>
            <div class="form-group">
                <input id="password" name="password" type="password" placeholder="Contraseña" aria-label="Contraseña" required>
            </div>
            <div class="form-group">
                <input id="repeat-password" name="repeat-password" type="password" placeholder="Repetir contraseña" aria-label="Repetir contraseña" required>
            </div>
        </fieldset>
        
        <button class="inter-semibold">Registrarse</button>
    </form>
</main>
