/** Background */
:host {
    display: block; /*? Convierte <app-register> en un bloque reconocible */
    height: 100vh;
    width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/img/landing-page-bg.jpg'); /*? Cortina de opacidad para background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*? Transiciones */
button,
.tooltip{
    transition: all 0.3s ease-in-out;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    height: 90vh;
    width: 70%;
    margin: 1.5rem;
    border-radius: 12px;

    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px var(--purple);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.img-cont{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.img-cont img{
    width: 140px;
    height: 45px;
    margin: 20px;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

form h1{
    color: var(--white);
    font-size: 4em;
}

form p{
    color: var(--gray);
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin: 2em;
    gap: 50px;
    width: 80%;
}

legend{
    display: none;
}

.input-group{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-group input{
    padding: 15px;
    width: 60%;
    border-radius: 12px;
    border: solid 2px var(--black);
}

.input-group input:focus{
    outline: none;
    border: solid 2px var(--purple);
}

.input-group input.invalid{
    border: solid 2px var(--red);
}

.input-group input::placeholder{
    color: var(--purple);
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.input-group input.invalid::placeholder{
    color: var(--red);
}

.tooltip{
    /** Oculto y sin interacciones por defecto **/
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    /** Posicionamiento central derecho **/
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(0, -50%);
    margin-left: 0.5rem;

    /** Estilos visuales **/
    background-color: var(--purple);
    color: var(--white);
    padding: 0.6rem 0.8rem;
    border-radius: 4px;
    font-size: .8em;
    line-height: 1.2;
    white-space: nowrap;
    z-index: 5;
}

.tooltip.error{
    background-color: var(--red);
}

.tooltip::before{
    content: ''; /*? Hace que exista el pseudoelemento ?*/
    position: absolute; /*? Se posiciona respecto al .tooltip ?*/
    top: 50%; /*? Se centra verticalmente ?*/
    left: -11px; /*? Se posiciona a la izquierda del tooltip ?*/
    transform: translateY(-50%); /*? Sube la mitad de su propia altura ?*/
    border-width: 6px; /*? Ancho del triángulo (tamaño de la "flecha")?*/
    border-style: solid;
    border-color: transparent var(--white) transparent transparent; /*? Colores ajustados solo al borde derecho del cuadrado y creando un triangulo ?*/
}

.tooltip.error::before{
    border-color: transparent var(--red) transparent transparent;
}

/** El tooltip se muestra al hacer focus al input*/
.input-group input:focus + .tooltip{
    visibility: visible;
    opacity: 1;
    pointer-events: auto; /*? Permite interacciones con el tooltip ?*/
}

/** El tooltip se muestra si el input es inválido */
.input-group input.invalid + .tooltip{
    visibility: visible;
    opacity: 1;
    pointer-events: auto; /*? Permite interacciones con el tooltip ?*/
}

button{
    width: 50%;
    font-size: 1em;
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 12px;

    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

button:hover{
    color: var(--purple);
    background-color: var(--white);
}

/*^ RESPONSIVE */
@media(max-width: 376px) and (max-height: 741px){
    .img-cont{
        justify-content: center;
    }

    form{
        width: 100%;
    }

    form h1{
        font-size: 2.3em;
    }

    form p{
        font-size: .6em;
    }

    fieldset{
        width: 100%;
        margin: 2em auto 0px auto;
    }

    .input-group input{
        width: 80%;
        padding: 12px;
    }

    .input-group input::placeholder{
        font-size: .8em;
    }

    .tooltip{
        /** Se cambia la posición ajustada a celulares **/
        top: 100%;
        left: 50%;
        transform: translateX(-50%);

        /** Anchura y salto de línea **/
        width: 80vw;
        max-width: 300px;
        white-space: normal; /*? Permite que el texto se ajuste a múltiples líneas ?*/
        text-align: center;

        margin-top: 0.5rem;
        margin-left: 0;
        font-size: .6em;
    }

    .tooltip::before{
        top: -11px;
        left: 50%;
        transform: translateX(-50%);
        border-color: transparent transparent var(--white) transparent;
    }

    .tooltip.error::before{
        top: -11px;
        left: 50%;
        transform: translateX(-50%);
        border-color: transparent transparent var(--red) transparent;
    }

    button{
        width: 80%;
        font-size: .8em;
        margin: auto;
    }
}

@media(max-width: 431px) and (max-height: 933px) and (min-width: 377px) and (min-height: 742px){
    .img-cont{
        justify-content: center;
    }

    form{
        width: 100%;
    }

    form h1{
        font-size: 2.3em;
    }

    form p{
        font-size: .6em;
        margin: 10px;
    }

    fieldset{
        width: 100%;
        gap: 35px;
        margin: 2em auto 0px auto;
    }

    .input-group input{
        width: 80%;
        padding: 12px;
        margin-top: 4vh;
    }

    .input-group input::placeholder{
        font-size: .8em;
    }

    .tooltip{
        /** Se cambia la posición ajustada a celulares **/
        top: 100%;
        left: 50%;
        transform: translateX(-50%);

        /** Anchura y salto de línea **/
        width: 80vw;
        max-width: 300px;
        white-space: normal; /*? Permite que el texto se ajuste a múltiples líneas ?*/
        text-align: center;

        margin-top: 0.5rem;
        margin-left: 0;
        font-size: .6em;
    }

    .tooltip::before{
        top: -11px;
        left: 50%;
        transform: translateX(-50%);
        border-color: transparent transparent var(--white) transparent;
    }

    button{
        width: 80%;
        font-size: .8em;
        margin: auto;
    }
}