<main>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="img-cont">
            <img src="assets/img/Logo-NoBg.png" alt="Logo">
        </div>
        <h1 class="inter-bold">Recuperar contraseña</h1>
        <p class="inter-semibold">Establezca de nueva cuenta su contraseña o solicite un nuevo correo de activación.</p>

        <fieldset>
            <legend>Correo para recuperación</legend>
            <div class="input-group">
                <input id="email" [class.invalid]="email.invalid && (email.touched || submitting)" formControlName="email" name="email" type="email" placeholder="Correo Electrónico" aria-label="Correo Electrónico" aria-describedby="email-tooltip" required>
                <span *ngIf="getEmailErrors().length > 0" id="email-tooltip" [class.error]="email.invalid && (email.touched || submitting)" class="inter-semibold tooltip">
                    <ng-container *ngFor="let msg of getEmailErrors(); let i = index">
                        {{ msg }}<br *ngIf="i < getEmailErrors().length - 1">
                    </ng-container>
                </span>
            </div>
        </fieldset>
        
        <button type="submit" class="inter-semibold" [disabled]="submitting">Registrar</button>
    </form>
</main>